h1 {
    padding: 15px;
    margin: 0;
    margin-bottom: 0px;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: cursive;
    border: 20px;
}

.navbar a.navbar-brand img {
        width: 60px; /* Example width */
        height: 60px; /* Example height */
      
        
    }

.align-items-center{
    background-color: black;
}

footer {
    position: static;
    margin-top: 15px;
    padding-top: 25px;
    width: 100%;
    display: block;
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
  }
  footer a {
    color: white
  }
    

