/* WE MAY NEED TO CREATE MEDIA QUERIES AS SOME BOOTSTRAP ASPECTS ARE NOT RESPONSIVE*/

/* Disables default Bootstrap navbar background */
nav {
  background: black !important;
  /* height: 170px; */
}

.nav-div {
  display: flex;
  flex-direction: column;
}

.page-links {
  text-transform: none;
  font-family: "Jost";
  font-size: 20px;
  font-weight: bold;
  color: rgb(252, 252, 252) !important;
  text-align: center;
}

/* Edit color here to change to black on hover */
.page-links:hover {
background-color: rgb(224, 241, 147);
padding: 10px;
color: black !important;
}

.navbar-toggler,
.collapsed {
  border: none;
}

/* Website title */
.neon {
  font-family: "Barriecito";
  font-size: 70px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #000000fa, 2px 0px 4px #d5f3ff, 3px 0px 4px #ffd5ff,
    2px 0px 3px #d42cc0, 2px 3px 15px #ebd988f7, 2px 0px 15px, 5px 0px 125px,
    20px 0vw 200px #cff39e, 40px 0vw 200px #dcf4b4;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

/* Intro section image */
.intro-img {
  width: 400px;
}

/* Section titles incl. jumbotron, sections and cards */
h2,
h3,
h4,
h5 {
  font-family: "Koulen";
}

#search-title {
  margin-left: 15px;
  font-size: 50px;
}

#fav-page-title {
  margin-top: 30px;
  margin-left: 15px;
}

.fancy-title {
  font-family: "Barriecito";
}

/* Page text */
p, .ing-list {
  font-family: "Jost";
}

#intro-txt {
  font-size: 30px;
  font-weight: bold;
}

#intro-body {
  font-size: 22px;
}

#search-heading {
  font-size: 22px;
}
#warning-txt {
  color: red;
}

/* Multi-select button to choose ingredients*/
.search-btns {
    margin-top: 25px;
}

.search-btns::before {
  content: "Select your ingredients:";
  font-family: "Jost";
  font-weight: bold !important;
}

#search-btn:hover {
  background: rgb(72, 70, 70);
}
/* Multiselect dropdown button*/
.mult-select-tag {
  font-family:"Jost" !important;
  width: 75%;
}
.mult-select-tag .body {
  border: 3px solid rgb(38, 37, 37);
  border-radius: 3px !important;
  background-image: linear-gradient(silver,white);
}

.mult-select-tag .input {
background-color: rgb(232, 216, 248);
border-radius: 3px !important;
border: solid 2px #5b217f;
color: #5b217f !important;
}

.mult-select-tag .btn-container {
  color: black;
  border-left: solid 3px;
}
.mult-select-tag button {
  color: black;
}

.mult-select-tag .drawer{
 border: 3px solid black;
}
.mult-select-tag ul li:hover{
  background: #d8ef7e71;
}

.mult-select-tag .item-container{
  border: 2px #476911 solid !important;
  background-color: #dcf4b4 !important;
}

.mult-select-tag .item-label {
  color: #3c590f !important;
}
 .mult-select-tag .item-close-svg {
  color: black !important;
}

/* Button to trigger search for results*/
#search-btn {
  border-radius: 3px !important;
  background-image: linear-gradient(90deg, black, rgb(82, 74, 74));
  margin-top: 40px;
  border: 2px solid rgb(38, 37, 37);
  color: rgb(255, 255, 255);
  font-family: "Poppins";
}
/* General buttons*/
.btn {
  border-radius: 0px !important;
}
.btns-div {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.fav-btn {
  text-transform: none;
  color: black;
  font-size: 30px;
  background: none !important;
  border: none !important;
}
.fav-btn:hover, .close:hover, .socials {
  color: grey;
}

/* Section that displays selected ingredients*/
#selected-ingredients {
  background-image: linear-gradient(
    50deg,
    rgba(216, 239, 126, 0.632),
    rgba(214, 234, 189, 0.842),
    rgb(218, 189, 248)
  );
}
/* Search section*/
#search-sec,
#selected-ingredients {
  border: solid 4px rgb(0, 0, 0);
  padding: 60px;
}
/* Search and results section containers*/
#search-sec {
  margin-bottom: 30px;
}
.results-sec,
#fav-sec {
  margin-top: 30px;
  margin-bottom: 20px;
}
/* Targets all results cards*/
.result-card,
.fav-card {
  border: 3px solid black;
}
/* Footer section */
footer {
  background-color: black;
  color: white;
}
/* Social media icons*/
.socials {
  color: white;
}

/* Back to top link*/
.back-to-top {
  text-decoration: none;
  color: white;
}
.back-to-top:hover {
  text-decoration: underline;
}

/*MODAL CSS CAN BE ADDED HERE*/
.close {
  border: none;
  background: none;
  color: black;
  font-size: 40px;
}

.image-container {
  margin-bottom: 10px;
}

.image-ingredients-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 300px;
  border: solid 4px black;
}

.modal-body {
  scrollbar-color: black;
}

@media only screen and (max-width: 768px) {
  .search-btns {
    margin-bottom: 25px;
  }
#search-btn {
  width: 100% !important;
}

.mult-select-tag { 
  width: 100%;
}

.intro {
  text-align: center !important;
}

#intro-body {
  font-size: 20px;
}


#search-heading, #search-title {
  text-align: center;
}
}