/* wE MAY NEED TO CREATE MEDIA QUERIES AS SOME BOOTSTRAP ASPECTS ARE NOT RESPONSIVE*/

/* Page background */
body {
    background-color: rgba(255, 255, 255, 0.137);
}
/* Disables default Bootstrap navbar background */
nav {
    background: black !important;
    height: 170px;
}
/* Website title */
h1 {
  font-family: "Barriecito";
  font-size: 70px;
  text-align: center;
}

.neon{
    color: #ffffff;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #000000fa, 2px 0px 4px #d5f3ff, 3px 0px 4px #ffd5ff, 2px 0px 3px #d42cc0, 2px 3px 15px #ebd988f7, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #cff39e,40px 0vw 200px #dcf4b4;
  }
  
  .flicker-slow{
    animation: flicker 3s linear infinite;
  }
  
  .flicker-fast{
    animation: flicker 1s linear infinite;
  }
  
  @keyframes flicker {
      0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: .99;    
      }
      20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
          opacity: 0.4;
      }
  }
  
  /* Intro section image */
.intro-img {
    width: 400px;
    height: 300px;
}  

/* Section titles incl. jumbotron, sections and cards */
h2, h3, h5 {
    font-family: "Outfit";
}

#fav-page-title {
    margin-top: 30px;
}

.fancy-title {
    font-family: "Barriecito";
}

/* Page text */
p {
    font-family: "Outfit";
}

#intro-txt {
    font-size: 30px;
}
/* Star and home icons for link to favourites and home pages */
.nav-tabs {
   margin-top: 120px; 
   border: none;
}

/* Multi-select button to choose ingredients*/
#select-btn {
    background-image: linear-gradient(silver, white);
    border: 2px solid black;
    border-radius: 4px !important;
}
/* Button to trigger search for results*/
#search-btn {
    border-radius: 3px !important;
    background-image: linear-gradient(90deg, black, rgb(82, 74, 74));
    margin-top: 30px;
    margin-left: 60px;
    border: 2px solid rgb(38, 37, 37);
}
/* General buttons*/
.btn {
    border-radius: 0px !important;
}
/* Section that displays selected ingredients*/
#selected-ingredients {
    background-image: linear-gradient(50deg, rgba(198, 239, 133, 0.632),rgba(214, 234, 189, 0.842), rgb(218, 189, 248));
}
/* Search section*/
#search-sec, #selected-ingredients {
    border: solid 4px rgb(0, 0, 0);
    padding: 60px;
}
/* Search and results section containers*/
#search-sec {
    margin-bottom: 30px;
}
#results-sec, #fav-sec {
    margin-top: 30px;
    margin-bottom: 20px;
}
/* Targets all results cards*/
.result-card, .fav-card {
    border: 3px solid black;
}
/* Footer section */
footer {
    background-color: black;
    color: white;
}
/* Social media icons*/
.socials {
    color: white;
}
/* Back to top link*/
.back-to-top {
    text-decoration: none;
    color: white;
}
/*MODAL CSS CAN BE ADDED HERE*/
